/* Reset de Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo do Body */
  body {
    background-color: #F5F1F1;
    font-family: "Inter", sans-serif;
  }